contourpy==1.3.2
coverage==7.9.1
cycler==0.12.1
dill==0.4.0
exceptiongroup==1.3.0
fonttools==4.58.4
iniconfig==2.1.0
invoke==2.2.0
kiwisolver==1.4.8
matplotlib==3.10.3
mpmath==1.3.0
numpy==2.2.6
packaging==25.0
pbr==6.1.1
pillow==11.2.1
pluggy==1.6.0
psutil==7.0.0
Pygments==2.19.2
pyparsing==3.2.3
pytest==8.4.1
pytest-cov==6.2.1
python-dateutil==2.9.0.post0
qiskit==2.1.0
qiskit-aer==0.17.1
-e git+https://github.com/tilir/quantum.git@7a63eb716b686c3b81e182d7f4dd1d2f5e38937a#egg=quantum_experiments
rustworkx==0.16.0
scipy==1.15.3
six==1.17.0
stevedore==5.4.1
symengine==0.14.1
sympy==1.14.0
tomli==2.2.1
typing_extensions==4.14.0
