alabaster==1.0.0
astroid==3.3.10
autoflake==2.3.1
babel==2.17.0
black==25.1.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
contourpy==1.3.2
coverage==7.9.1
cycler==0.12.1
dill==0.4.0
docutils==0.21.2
exceptiongroup==1.3.0
flake8==7.3.0
fonttools==4.58.4
idna==3.10
imagesize==1.4.1
iniconfig==2.1.0
invoke==2.2.0
isort==6.0.1
Jinja2==3.1.6
kiwisolver==1.4.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mccabe==0.7.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
mpmath==1.3.0
mypy==1.16.1
mypy_extensions==1.1.0
myst-parser==4.0.1
numpy==2.2.6
packaging==25.0
pathspec==0.12.1
pbr==6.1.1
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.6.0
psutil==7.0.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pyparsing==3.2.3
pytest==8.4.1
pytest-cov==6.2.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
qiskit==2.1.0
qiskit-aer==0.17.1
requests==2.32.4
rustworkx==0.16.0
scipy==1.15.3
six==1.17.0
snowballstemmer==3.0.1
Sphinx==8.1.3
sphinx-autoapi==3.6.0
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stevedore==5.4.1
symengine==0.14.1
sympy==1.14.0
tomli==2.2.1
typing_extensions==4.14.0
urllib3==2.5.0
